@font-face {
     font-family: helveticaneue;
     src: url('HelveticaNeueLTStd-UltLt.otf');
}

html { font-size: calc(1em + 1vw); }

body{
     background: #512C96;
     font-family: 'Impact';
     color: white;
}
form{
     padding: 2vh 5.5vw;
}
input:focus{
     outline: none;
}
select:focus{
     outline: none;
}

input{
     background: #3c6f9c;
     border: none;
     border-radius: 10px;
     height: 7vh;
     width: 85vw;
     font-family: 'Impact';
     color: white;
     font-size: 1em;
     padding: 0 2vw;
     margin-bottom: 2vh;
}
select{
     background: #3c6f9c;
     border: none;
     border-radius: 10px;
     height: 7vh;
     width: 89vw;
     font-family: 'Impact';
     color: white;
     font-size: 1em;
     padding: 0 30vw;
     margin-bottom: 2vh;
}
.titulo{
     text-align: center;
     margin-bottom: 5vh;
     font-size: 2em;
}
button{
     border: none;
     background: #3c6f9c;
     font-family: 'Impact';
     color: white;
     font-size: 2em;
     border-radius: 10px;
     height: 15vh;
     display: block;
     width: 60vw;
     margin: 0 auto;
}
label{
    margin: 0vh 3vw;
}